<%- include('templates/header.ejs',{title : title, username:username}) %>
<div class="container-fluid main-full-screen">
    <div class="container">
        <h1>Welcome to home page.</h1>
        <%- include('templates/queryform.ejs', {actiontype:locals.actiontype, groupType:locals.groupType}) %> 
    </div>
</div>
<!-- <%- include( 'templates/footer.ejs' ) %> -->
