* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    height: 50px;
}
.log-out-btn {
    outline: none;
    border: none;
    background-color: transparent !important;
    color: blue !important;
    cursor: pointer;
    padding: 0 !important;
}

.main-full-screen {
    min-height: calc(100vh - 100px);
    background-color: #eee;
}

.footer {   
    height: 50px;
}

#errorMessage{
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
}

#successMessage{
    background-color: rgb(28, 207, 0);
    color: white;
    padding: 10px;
    text-align: center;
}